@using MVC_OnlineCommercialAutomation.Models.Classes
@model List<CargoDetail>
@{
    ViewBag.Title = "CargoTrack";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<h2>Kargo Takip</h2>


<br />
@using (Html.BeginForm("CargoTrack", "CurrentPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" class="btn btn-primary" />
    </p>
}


<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Kargo Takip Kodu</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>

            <td>@k.Staff</td>
            <td>@k.Receiver</td>
            <td>@k.History</td>
            <td>@k.TrackingCode</td>
            <td><a href="/CurrentPanel/CurrentCargoTrack/@k.TrackingCode" class="btn btn-info " style="color:white">Detaylar</a></td>
        </tr>
    }
</table>
