@using MVC_OnlineCommercialAutomation.Models.Classes
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px">
    <tr>

        <th>Fatura Seri Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Pop-up Liste</th>
        <th>Yeni Kalem</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>

            <td>@k.InvoiceSerialNumber @k.InvoiceRowNumber</td>

            <td>@k.History</td>
            <td>@k.Hour</td>
            <td>@k.Total ₺</td>

            <td><a href="/Invoice/InvoiceGet/@k.InvoiceID" class="btn btn-warning " style="color:white">Güncelle</a></td>
            <td><a href="/Invoice/InvoiceDetail/@k.InvoiceID" class="btn btn-success " style="color:white">Detaylar</a></td>
            <td><a href="/Invoice/InvoiceDetail/@k.InvoiceID" class="btn btn-outline-primary ">Liste</a></td>
            <td><a href="/Invoice/InvoiceDetail/@k.InvoiceID" class="btn btn-outline-dark "> Kalem</a></td>
        </tr>
    }
</table>
<a href="/Invoice/InvoiceAdd" class="btn btn-info">Fatura Ekle</a>
<br />
<br />
<button class="btn btn-outline-success" data-toggle="modal" data-target="#Modal1">Pop Up Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup dialog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Seri No</th>
                        <th>Sıra No</th>
                        <th>Tutar</th>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <th>@x.InvoiceSerialNumber</th>
                            <th>@x.InvoiceRowNumber</th>
                            <th>@x.Total</th>
                        </tr>

                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>


